body {
    background-color: #0d0d0d;
    color: #cccccc;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 16px;
    margin: 40px;
    overflow: hidden;
}

pre {
    font-family: inherit;
    color: #3b8eea;
    margin: 0;
}

span {
    color: #d1d1d1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#album-art {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #555;
}

.media-container {
    display: flex;
    align-items: center;
    border-top: 1px dashed #555;
    padding-top: 20px;
}

.visualizer span {
    color: #e5c07b;
}

.label {
  display: inline-block;
  width: 80px;
}

.terminal-box {
    margin-top: 20px;
    border: 1px solid #333;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', monospace;
    width: 100%;
    max-width: 600px;
}

.terminal-box .header {
    background: #333;
    color: #000;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 0.8rem;
}

.lyrics-content {
    height: 150px;
    overflow-y: auto; 
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    
    padding: 10px;
    font-size: 0.9rem;
    color: #4af626;
    
    display: block; 
    position: relative;
    
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

.lyric-line {
    padding: 2px 0;
    white-space: pre-wrap;
    opacity: 0.3; /* Dim inactive lines */
    transition: all 0.2s;
}

.lyric-line.active {
    opacity: 1;
    font-weight: bold;
    text-shadow: 0 0 5px #4af626;
}

.lyric-line.active::before {
    content: "> ";
}